@import url(reset.css);
@import url(style/menu.css);
@import url(style/home.css);
@import url(style/blog.css);
@import url(style/poust.css);
@import url(style/about.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Global Styles */

header {
    width: 100%;
    position: fixed;
    background-color: #101F3E;
    color: #ffffff; 
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 0;
    z-index: 2;
}


.img-logo {  
    width: 90px;
    height: 90px;
    margin-left: 2rem;
}

.nav-desktop {
    margin: 50% 4rem 0 2rem;
    color: #ffffff;
    font-size: 23px;
}

.cabecalho {
    margin-top: 2rem;
}

body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.conteudo {
    margin: 0 10rem 10rem 10rem;
}

.botao {
    background-color: #101F3E;
    color: #ffffff;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
}

.footer {
    background-color: #101F3E;
    color: #ffffff;
    padding:3rem;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}

.contact-icon {
    width: 32px;
    height: 32px;
}

.copy {
    margin-top: 20px;
    font-size: 14px;
    color: #aaaaaa; /* Texto mais claro para os direitos autorais */
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-image {
        width: 100%;
        height: auto;
        min-height: 150px;
    }

    .contact-info {
        align-items: center;
    }
}

.store{
    display: none;
}