{% extends 'galeria/base.html' %}
{% load static %}
{% block content %}
        <main>
            <div class="hero-about swiper-container">
                <div class="swiper-wrapper">
                    {% for hero_membro in pessoa01 %}
                    <div class="swiper-slide pessoa01">
                        <img src="{{ hero_membro.foto.url }}" alt="{{hero_membro.nome}}">
                        <div class="info-membro">
                            <div class="nome-membro"><h2>{{hero_membro.nome}}</h2></div>
                            <div class="descricao-membro">{{hero_membro.descricao}}</div>
                        </div>
                    </div>
                    {% endfor %}
                <!-- Adicione os botões de navegação -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <!-- Adicione os pontos de paginação -->
                <div class="swiper-pagination"></div>
            </div>
                
            </section>
            <section class="conteudo">
                <section class="objetivo">
                    <h2 class="santos">Santos no dia a dia</h2>
                    <hr class="hr-santos"> 
                    <p>Nossa missão é mostrar que a santidade é possível. Na meditação do Santo Rosário, encontramos o caminho que nos leva a Deus.</p>
                </section>
                <section class="conteudo">
                    {% for membro in card %}
                    <article class="nossa-equipe card">
                        <h2 class="h2-nossa-equipe">Nossa equipe</h2>
                        <div class="equipe">
                            <img src="{{ membro.foto.url }}" alt="{{membro.nome}}" class="img-membro">
                            <h3 class="nome-membro">{{membro.nome}}</h3>
                            <p class="descricao-membro">{{membro.descricao}}</p>
                        </div>
                    </article>
                    {% endfor %}
                    <section>
                        <h2 class="h2-eventos">Eventos</h2>
                        {% for evento in evento %}
                            <article class="evento">
                                <a class="eventos" href="#">
                                    <img src="{{ evento.foto.url }}" alt="{{evento.nome}}" class="img-evento">
                                    <h3 class="nome-evento">{{evento.nome}}</h3>
                                </a>
                    </section>
                    {% endfor %}
                    {% if chamada %}
                    {% for produto in chamada_loja %}
                    <article class="chamada-loja chamada_loja">
                        <h2 class="h2-loja">Conheça nossa loja</h2>
                        <div class="chamada-produtos">
                            <img src="{{ produto.foto.url }}" alt="{{produto.nome}}" class="img-produto">
                            <h3 class="nome-produto">{{produto.nome}}</h3>
                            <p class="descricao-produto">{{prduto.legenda}}</p>
                        </div>
                        <a href="{% url 'store' %}" class="botao">Ir para a loja</a>
                    </article>
                    {% endfor %}   
                    {% else %}
                    {% endif %}   
                </section>
            </section>
        </main>
{% endblock %}

