{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static '/assets/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static '/style/style.css' %}">
    <link rel="stylesheet" href="{% static '/style/home.css' %}">
    <link rel="stylesheet" href="{% static '/style/menu.css' %}">
    <link rel="stylesheet" href="{% static '/style/about.css' %}">
    <link rel="stylesheet" href="{% static '/style/blog.css' %}">
    <link rel="stylesheet" href="{% static '/style/post.css' %}">
    <script src="script.js" defer></script>
    <title>Terço Jovem - Espalhando o Evangelho</title>
    <meta name="description" content="Terço Jovem - Espalhando o evangelho a toda criatura. Junte-se a nós e conheça mais sobre nossa missão.">
    <meta name="keywords" content="Terço Jovem, Evangelho, Missão, Fé, Igreja">
    <meta name="author" content="Terço Jovem">
</head>

<body>
    {% include 'galeria/partials/_header.html' %}
    {% block content %}

    {% endblock %}
    {% include 'galeria/partials/_footer.html' %}
</body>

</html>