{% load static %}
   <!-- Footer -->
   <footer class="footer">
    <div class="container footer-container">
        <div class="contact-info">
            <div class="contact-item">
                <img src="{% static '/assets/instagram.svg' %}" alt="Ícone do Instagram" class="contact-icon">
                <span>@TERCOJOVEM</span>
            </div>
            <div class="contact-item">
                <img src="{% static '/assets/whatsapp.svg' %}" alt="Ícone do WhatsApp" class="contact-icon">
                <span>(00) 9 9999-9999</span>
            </div>
            <div class="contact-item">
                <img src="{% static '/assets/gmail.svg'%}" alt="Ícone de E-mail" class="contact-icon">
                <span>SEUEMAIL@EMAIL.COM</span>
            </div>
        </div>
        <div class="footer-txt">
            <p></p>
        </div>
    </div>
    <div class="copy">
        <p>&copy; 2025 Terço Jovem - Mensageiros da Fé</p>
    </div>
</footer>